body {
  background-color: Gainsboro;
  font-family: "Times New Roman", Times, serif;
}
h1 {
  color: Black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
h2 {
  color: DimGray;
}
h3 {
  color: DimGray;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: Black;
}

li {
  float: left;
}

li a {
  display: block;
  color: Black;
  padding: 10px 15px;
}

li a:hover {
  background-color: DimGray;
}

.selfpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
.personalinfo {
  text-align: center;
  border: 4px solid DimGray;
  padding: 5px;
  margin: 20px;
}
.education {
  margin: 5px;
  font-family: 'Raleway', sans-serif;
}
.skills {
  margin: 5px;
}
.mousepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}
.mousedesc {
  color: Black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.review {
  margin: 1em;
}
.biscuit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
.biscuitdesc {
  text-align: center;
}
  